*.DS_Store

# STM32 IDE
Firmware/.metadata/
Firmware/.settings/
Firmware/Debug/
Firmware/Drivers/
Firmware/*.launch
Firmware/*.ld
Firmware/Core/Startup
Firmware/Core/Inc/stm32h7xx*
Firmware/Core/Src/stm32h7xx*
